{% extends "db_conectaml/base_generic.html" %}

{% block content %}
<h1>Conect-AML Database</h1>

  <p>Welcome to <em>Conect-AML DB</em>, a basic Django website to manage Connect-AML</p>

<h2>Dynamic content</h2>

  <p>The database has the following records:</p>
{% if latest_patient_list %}
    <ul>
    {% for patient in latest_patient_list %}
        <li><a href="{% url 'dbconect:detail' patient.id %}">{{ patient.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No patients are available.</p>
{% endif %}
{% endblock %}
