{% extends "drosobase/base_generic.html" %}
{% block content %}

    <h1>{{ stock.post_title }}</h1>
    <ul class="carriage-return">
    <li>Stock Name: {{ stock.post_title }}</li>
    <li>Stock details: {{ stock.post_content }}</li>
    <li>Input Date: {{ stock.post_date }}</li>
    </ul>

    <a href="{% url 'drosobase:detail' stock.get_prev %}" class="historylink">« previous {{ stock.get_prev }}</a>
    |
    <a href="{% url 'drosobase:detail' stock.get_next %}" class="historylink">next » {{ stock.get_next }}</a>

{% endblock %}
