{% extends "drosobase/base_generic.html" %}
{% block content %}

    <h1>{{ stock.post_title }}</h1>
    <ul class="carriage-return">
    <li>Stock Name: {{ stock.post_title }}</li>
    <li>Stock details: {{ stock.post_content }}</li>
    <li>Input Date: {{ stock.post_date }}</li>

{% comment %}
{% load drosobase_extras %}
{% with next_element=stock.id|next:forloop.counter0 %}
{% with previous_element=stock.id|previous:forloop.counter0 %}

    <li><a href="{% url 'drosobase:detail' next_element %}" class="historylink">« previous</a></li>

{% endwith %}
{% endwith %}
{% endcomment %}

    </ul>

{% endblock %}
