{% extends "drosobase/base_generic.html" %}

{% block content %}
<h1>Flybase Mirror</h1>

<h4>The database has the following records:</h4>

{% if flybase_list %}
    <ul>
    {% for stock in flybase_list %}
        <li>
            <a href="{% url 'drosobase:flybase_detail' stock.id %}">{{ stock.FBst_idx }}</a> | 
            {{ stock.FBst_idx }} |
            {{ stock.FBst_idx }} |
            {{ stock.FBst_idx }} |
            {{ stock.FBst_idx }} |
            {{ stock.FBst_idx }} |
            {{ stock.FBst_idx }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No stock is available.</p>
{% endif %}
{% endblock %}
